<div class="col-lg-2"></div>
<div class="col-lg-8">
    <form #absenceForm="ngForm">

        <div class="form-group">
            <label >Name</label>
            <select class="form-control"  >
                <option *ngFor="let user of users" [(ngModel)]="absence.user" name="user" ngDefaultControl value="{{user}}" >{{user.fullName}}</option>
            </select>
        </div>
        <div class="form-group">
            <div class="col-md-5">
                <label for="startDate">Start Date</label>
                <datepicker [(ngModel)]="absence.startDate" name="startDate" id="startDate" [showWeeks]="false"></datepicker>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
                <label for="endDate">Back in Office Date</label>
                <datepicker [(ngModel)]="absence.endDate" name="endDate" id="endDate" [showWeeks]="false"></datepicker>
            </div>
        </div>
        <div class="form-group">
            <label for="comments">Comments</label>
            <input type="text" class="form-control" [(ngModel)]="absence.comments" placeholder="Comments" name="comments" id="comments" />
        </div>

        <button type="submit" class="btn btn-success" (click)="onAbsenceSubmit()">Submit</button>
        <p *ngIf="hasError" class="error-message">{{errorMessage}}</p>
        <p *ngIf="isSuccessful" class="success-message">Your future absence has been saved.</p>
        
        {{absence.user.fullName}}
    </form>
</div>
<div class="col-lg-2"></div>