<div class="row text-center" *ngIf="isEdit">
    <button class="btn btn-info" (click)="addUserView()">Add User</button>
</div>

<div class="row" *ngIf="isEdit">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 form-group">
        <label>Choose User</label>
        <select class="form-control" [(ngModel)]="user" name="user">
            <option *ngFor="let user of users" [ngValue]="user">{{user.fullName}}</option>
        </select>
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <form #userUpdateForm="ngForm">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" class="form-control" [(ngModel)]="user.firstName" placeholder="First Name" name="firstName" id="firstName" />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" [(ngModel)]="user.lastName" placeholder="Last Name" name="lastName" id="lastName" />
            </div>
            <div class="form-group">
                <label>Team</label>
                <select class="form-control" [(ngModel)]="user.team" name="userTeam">
                    <option *ngFor="let team of teams" [ngValue]="team">{{team}}</option>
                </select>
            </div>
            <button *ngIf="isEdit" class="btn btn-success" (click)="updateUser()">Update</button>
            <button *ngIf="isEdit" class="btn btn-danger" (click)="deleteUser()">Delete</button>
            <button *ngIf="!isEdit" class="btn btn-success" (click)="addNewUser()">Save</button>
            <button *ngIf="!isEdit" class="btn btn-danger" (click)="isEdit = true">Back</button>
            <p *ngIf="hasError" class="error-message">{{errorMessage}}</p>
            <p *ngIf="isSuccessful" class="success-message">User has been updated.</p>
        </form>
    </div>
    <div class="col-lg-3"></div>
</div>



